@import "../../../partials/mixins";
@import "../../../partials/variables";

.nav {
  background: yellow;;
  display: flex;
  height: $navHeight;
  width: 100%;
  position: fixed;
  transition: all 600ms ease;
  align-items: center;
  z-index: 3;
  top: 0;
  
  &.hide {
    margin-top: -5rem;
  }
    @media(min-width: $tablet) {
    
  }

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
    margin-inline: auto;
    max-width: $ultraWide;
    padding-inline: 2rem;
    width: 100%;
    border: 2px solid green;
  }
  
  &__logo {
    margin-inline: 0;
    margin-inline: auto;
    
    
    @media(min-width: $tablet) {
      margin-inline-start: 0;
      margin-inline-end: auto;
      border: 2px solid red;
      text-align: center;
      width: 5rem;
    }
  }

  &__links {
    display: none;
    
    @media(min-width: $tablet) {
      align-items: center;
      display: flex;
      gap: 2rem;
      height: 100%;
      margin-inline-start: auto;
      color: var(--text-color);
    }
  }

  // &__link {

  // }
}