@import "../../../partials/mixins";
@import "../../../partials/variables";

.nav {
  background: yellow;;
  display: none;
  
  @media(min-width: $tablet) {
    align-items: center;
    display: flex;
    height: $navHeight;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
    margin-inline: auto;
    max-width: $ultraWide;
    padding-inline: 2rem;
    width: 100%;
    border: 2px solid green;
  }
  
  &__logo {
    // border: 2px solid red;
    text-align: center;
    width: 5rem;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 2rem;
    height: 100%;
    margin-inline-start: auto;
    color: var(--text-color);
  }

  &__link {
  }
}