@import '../../partials/mixins';
@import '../../partials/variables';

.photoInput {
  
  &__box {
    align-items: center;
    border: 1px solid var(--background-color);
    cursor: pointer;
    display: flex;
    height: 15rem;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: scale 0.1s ease;
    width: 15rem;

    @media(min-width: 500px) {
      height: 11rem;
      width: 11rem;
    }

    @media(min-width: 600px) {
      height: 12.5rem;
      width: 12.5rem;
    }

    @media(min-width: 700px) {
      height: 13.5rem;
      width: 13.5rem;
    }

    @media(min-width: $tablet) {
      height: 15rem;
      width: 15rem;
    }

    @media(min-width: $largeTablet) {
      height: 10rem;
      width: 10rem;
    }
    
    &.disabled {
      cursor: default;
    }
  }

  &__image {
    cursor: grab;
    height: 15rem;
    object-fit: cover; 
    object-position: top center;
    position: absolute;
    width: 15rem;

    @media(min-width: 500px) {
      height: 11rem;
      width: 11rem;
    }

    @media(min-width: 600px) {
      height: 12.5rem;
      width: 12.5rem;
    }

    @media(min-width: 700px) {
      height: 13.5rem;
      width: 13.5rem;
    }

    @media(min-width: $tablet) {
      height: 15rem;
      width: 15rem;
    }

    @media(min-width: $largeTablet) {
      height: 10rem;
      width: 10rem;
    }
  }

  &__placeholder {
    background: var(--background-color);
    cursor: pointer;
    fill: var(--text-color);
    opacity: 1;
    z-index: 1;

    &.behind {
      cursor: grab;
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
    }

    @media(min-width: 500px) {
      height: 11rem;
      width: 11rem;
    }

    @media(min-width: 600px) {
      height: 12.5rem;
      width: 12.5rem;
    }

    @media(min-width: 700px) {
      height: 13.5rem;
      width: 13.5rem;
    }

    @media(min-width: $tablet) {
      height: 15rem;
      width: 15rem;
    }

    @media(min-width: $largeTablet) {
      height: 10rem;
      width: 10rem;
    }
  }

  &__placeholderStroke {
    fill: none;
    stroke: var(--text-color);
  }

  &__clearButton {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    
    &.show {
      align-items: center;
      cursor: default;
      display: flex;
      height: 6rem;
      justify-content: center;
      padding-bottom: 2rem;
      padding-inline-end: 2rem;
      width: 6rem;
      
      @media(min-width: 500px) {
        height: 5rem;
        width: 5rem;
      }
    }
  }

  &__clear {
    align-items: center;
    background: var(--background-color);
    border-radius: 50%;
    box-shadow: var(--boxShadow);
    display: flex;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
  }

  &__close-icon {
    background-color: var(--text-color); 
    height: 3px;
    position: absolute;
    transform-origin: center;
    width: 40%;
    z-index: 1;
  }

  &__close-icon:first-child {
    transform: rotate(45deg);
  }

  &__close-icon:last-child {
    transform: rotate(-45deg);
  }

  &__fileInput {
    display: none;
  }
}