@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.addEditProject {
	& {
		@include mx.page;
	}

	&__inner {
		@include mx.wallpaperContainer;
	}

	&__form {
		box-shadow: var(--box-shadow);
		max-width: vars.$largeTablet;
		width: 90%;
		@include mx.formFullWidth;

		@media (min-width: vars.$desktop) {
			width: 100%;
		}
	}

	&__heading {
		display: inline-block;
		margin-top: 2rem;
		position: relative;
		@include mx.formHeading;

		&::after {
			@include mx.afterAccent;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		gap: 1rem;
		margin-top: auto;
		margin-bottom: 2rem;
		width: 100%;

		@media (min-width: vars.$smallTablet) {
			flex-direction: row;
			gap: 2rem;
		}
	}

	&__button {
		@include mx.button;
	}

	&__calendar-icon {
		fill: var(--accent-color);
	}

	&__photoInputs {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(auto-fit, 1fr);
		justify-content: center;
		padding-block: 1rem;
		margin-block: 1rem;
		width: 100%;

		@media (min-width: 500px) {
			gap: 3rem;
			grid-template-columns: repeat(2, 1fr);
			min-width: 20rem;
			padding-inline: 25%;
		}

		@media (min-width: vars.$tablet) {
			margin-block: 2rem;
			min-width: 30rem;
			padding-inline: 25%;
		}

		@media (min-width: vars.$largeTablet) {
			gap: 2rem;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__photoInput {
		max-height: 100%;
		max-width: 100%;
	}

	&__text {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		max-width: vars.$tablet;
		width: 100%;
	}

	&__title-label,
	&__desc-label,
	&--youtubeURL {
		@include mx.hiddenLabel;
	}

	&__input {
		@include mx.adminInput;

		&.error {
			outline: 2px solid var(--error-color);
		}

		&--title,
		&--deployedURL,
		&--youtubeURL,
		&--githubClient,
		&--githubServer {
			margin-bottom: 1rem;
			@include mx.formFullWidthInput;

			&:focus {
				box-shadow: var(--box-shadow-input);
				outline: none;
			}
		}
	}

	&__descContainer {
		height: 20rem;
		margin-bottom: 1rem;

		@media (min-width: vars.$desktop) {
			height: 25rem;
		}
	}

	&__desc {
		@include mx.adminInput;

		&:focus {
			box-shadow: var(--box-shadow-input);
			outline: none;
		}

		&.error {
			outline: 2px solid var(--error-color);
		}
	}

	&__desc {
		height: 100%;
	}
}
