@import "../../partials//mixins";
@import "../../partials/variables";

.project {
	& {
		max-width: 100%;
	}

	// &__inner {
	// }

	&__date {
		font-size: 0.9rem;
		font-weight: 400;
		margin-bottom: 0.5rem;
		margin-inline-start: auto;
		padding-inline-end: 0.25rem;
		text-align: end;
		width: 6rem;
	}

	&__image {
		@include projectImg;
		cursor: pointer;
		margin-bottom: 1rem;
	}

	// &__text {
	// border: 2px dashed #333;
	// }

	&__title {
		color: var(--text-color);
		font-weight: 400;
		font-size: 1rem;
		letter-spacing: var(--letter-spacing-general);
		margin-top: 0.5rem;
		max-width: 80vw;

		&.ellipsis {
			@include ellipsisOneLine;
		}

		@media (min-width: $smallTablet) {
		}
	}

	&__description {
		color: var(--text-color);
		margin-top: 1.5rem;
		font-size: 1rem;
		letter-spacing: var(--letter-spacing-general);
		line-height: var(--line-height-general);

		&.ellipsis {
			@include ellipsisMultiLine;
			-webkit-line-clamp: 3;
			line-clamp: 3;
		}
	}

	&__links {
		font-weight: 400;
		margin-top: 1rem;
	}

	&__urls {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-bottom: 1rem;
		margin-top: 2rem;
	}

	&__url {
		align-items: center;
		color: var(--text-color);
		display: flex;
		font-size: 1rem;
		gap: 0.5rem;
	}

	&__url-link {
		@include ellipsisOneLine;
		max-width: 90vw;

		&:hover {
			color: var(--accent-color);
		}
	}

	&__show-full-info {
		@include linkButton;
		margin-top: 1rem;
	}
}
