@import "../../partials/mixins";
@import "../../partials/variables";

.profile {
	& {
		margin-bottom: 3rem;
		padding-inline: 1rem;
		width: 100%;

		@media (min-width: 550px) {
			padding-inline: 2.5rem;
		}

		@media (min-width: 650px) {
			padding-inline: 3rem;
		}

		@media (min-width: 700px) {
			padding-inline: 3.5rem;
		}

		@media (min-width: 725px) {
			padding-inline: 4rem;
		}

		@media (min-width: $largeTablet) {
			padding-inline-end: 0;
			padding-inline-start: 2rem;
		}

		@media (min-width: $desktop) {
			padding-inline: 0;
		}
	}

	&__info {
		margin-bottom: 0.5rem;
		min-height: 8rem;

		@media (min-width: $largeTablet) {
			margin-bottom: 1rem;
		}
	}

	&__heading {
		@include headingGeneral;
		font-size: var(--headline-small);
		text-align: center;

		@media (min-width: $largeTablet) {
			text-align: start;
			padding-inline-start: 1rem;
		}
	}

	&__lead {
		@include lead;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		letter-spacing: var(--letter-spacing-general);
		padding: 1rem;
	}

	&__item {
		position: relative;

		&::after {
			@include afterAccent;
		}

		&:last-child::after {
			background: none;
		}
	}

	&__item-header {
		align-items: center;
		display: flex;
		gap: 0.75rem;
		margin-bottom: 0.5rem;

		@media (min-width: $smallTablet) {
			margin-bottom: 0.6rem;
		}
	}

	&__item-icon {
		height: var(--font-size-xs);
		width: var(--font-size-xs);

		@media (min-width: $smallTablet) {
			height: var(--font-size-small);
			width: var(--font-size-small);
		}
	}

	&__item-label {
		font-size: var(--font-size-xs);
		font-weight: 600;
	}

	&__item-value {
		font-size: var(--font-size-xs);
		line-height: var(--line-height-general);

		@media (min-width: $smallTablet) {
			font-size: var(--font-size-general);
		}
	}
}
