@import "../../partials//mixins";
@import "../../partials/variables";

.projectsFeed {
	& {
		border: 2px solid red;
		padding-inline: 2rem;
		width: 100%;
		// height: 100%;
		// margin-top: calc(-100vh + $navHeight);
	}

	&__clickOffDiv {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;
		background: red;
		opacity: 0.5;
	}

	&__inner {
		margin-inline: auto;
		min-height: calc(100vh - $navHeight);
		max-width: $tablet;
		border: 2px solid blue;
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}
}
