@import "../../partials//mixins";
@import "../../partials/variables";

.projectsFeed {
	& {
		display: flex;
		flex-direction: column;
		margin-top: 1.5rem;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		margin-bottom: 4rem;
		margin-inline: auto;
		max-width: 90%;
		min-height: calc(100vh - $navHeight);

		@media (min-width: $largeTablet) {
			max-width: $tablet;
			width: 100%;
		}
	}

	&__button {
		@include button;
		background: var(--neutralBG);
		margin-bottom: 2rem;
		margin-inline: auto;
		position: relative;
		z-index: 1;

		&.disabled {
			@include buttonDisabled;
		}

		&.isOnHome {
			background: none;
		}
	}
}
