@import "../../partials//mixins";
@import "../../partials/variables";

.projectsFeed {
	& {
		border: 2px solid red;
		padding-inline: 2rem;
		width: 100%;
		// height: 100%;
		// margin-top: calc(-100vh + $navHeight);
	}

	&__inner {
		margin-inline: auto;
		max-width: $largeTablet;
		border: 2px solid blue;
		height: 20rem;
		height: 100rem;
	}
}
