@import "../../partials/mixins";
@import "../../partials/variables";


.blog {
  @include page;
  // min-height: calc(100vh - $navHeight);
  
  &__inner {
    @include wallpaperContainer;
    flex-direction: column;
}

  &__heading {
    font-size: 3rem;
    position: relative;
    z-index: 1;
  }
}


