@import "../../partials/mixins";
@import "../../partials/variables";

.blog {
	& {
		@include page;
	}

	&__inner {
		@include wallpaperContainer;
	}

	&__content {
		max-width: $ultraWide;
		width: 100%;
		z-index: 1;
	}

	&__heading {
		@include secondaryPageHeading;
	}
}
