@import "../../partials/mixins";
@import "../../partials/variables";

.projectCard {
	& {
		display: grid;
		max-width: 100%;

		&:hover {
			@include hoverClickGrow;
			cursor: pointer;
			opacity: 0.8;
		}

		&__img {
			aspect-ratio: 16/9;
			max-width: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
}
