@import "../../partials/mixins";
@import "../../partials/variables";

.projectCard {
	& {
		@include projectCard;
		box-shadow: var(--box-shadow);
		cursor: pointer;
		position: relative;

		&.draggable {
			animation: shake 0.45s infinite;
			cursor: grab;
		}

		&:hover {
			@include hoverClickGrow;
			opacity: 0.8;
		}
	}

	&__placeholder {
		position: absolute;
		width: 100%;
		z-index: 2;

		&.fade {
			opacity: 0;
			@include smoothClosingTransition;
		}

		&.hide {
			display: none;
		}
	}

	&__button {
		@include generalOpacityTransition;
		background-color: var(--background-color);
		border: none;
		border-radius: 50%;
		box-shadow: var(--box-shadow);
		cursor: pointer;
		height: 2.25rem;
		opacity: 0;
		outline: none;
		position: absolute;
		top: 0.75rem;
		width: 2.25rem;

		@media (min-width: $smallTablet) {
			height: 2.75rem;
			top: 1rem;
			width: 2.75rem;
		}

		@media (min-width: $tablet) {
			height: 2.5rem;
			top: 0.75rem;
			width: 2.5rem;
		}

		@media (min-width: $desktop) {
			height: 3rem;
			top: 1rem;
			width: 3rem;
		}

		&--delete {
			left: 1rem;

			@media (min-width: $tablet) {
				left: 0.75rem;
			}

			@media (min-width: $desktop) {
				left: 1rem;
			}
		}

		&--edit {
			right: 1rem;

			@media (min-width: $tablet) {
				right: 0.75rem;
			}

			@media (min-width: $desktop) {
				right: 1rem;
			}
		}

		&.show {
			@include generalOpacityTransition;
			align-items: center;
			display: flex;
			justify-content: center;
			opacity: 1;
		}
	}

	&__button-icon {
		height: 1.5rem;
		width: 1.5rem;

		@media (min-width: $smallTablet) {
			height: 1.75rem;
			width: 1.75rem;
		}

		@media (min-width: $tablet) {
			height: 1.5rem;
			width: 1.5rem;
		}

		@media (min-width: $desktop) {
			height: 1.75rem;
			width: 1.75rem;
		}
	}

	&__img {
		aspect-ratio: 16/9;
		height: 100%;
		max-width: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translate(0, 0) rotate(0);
		scale: 1;
	}
	25% {
		transform: translate(-0.1px, -0.1px) rotate(-0.5deg);
		scale: 0.999;
	}
	50% {
		transform: translate(0.1px, 0.1px) rotate(0.5deg);
		scale: 1;
	}
	75% {
		transform: translate(-0.1px, -0.1px) rotate(-0.5deg);
		scale: 0.999;
	}
}
