@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.portfolio {
	& {
		background: var(--neutral-bg-1);
		width: 100%;
	}

	&__scrollTopLink {
		display: none;
	}

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		padding-bottom: 4rem;
		padding-inline: 1rem;
		padding-top: 2rem;
		text-align: center;
		width: 100%;

		@media (min-width: vars.$tablet) {
			padding-inline: 2rem;
		}
	}

	&__header {
		margin-bottom: 1rem;
	}

	&__heading {
		align-items: center;
		display: inline-block;
		justify-content: center;
		font-size: var(--headline-small);
		margin-bottom: 3rem;
		margin-top: 2rem;
		position: relative;
		@include mx.headingGeneral;

		&::after {
			@include mx.afterAccent;
		}
	}

	&__editModeButton {
		align-items: center;
		background: none;
		border: none;
		color: var(--text-color);
		cursor: pointer;
		display: flex;
		height: 1.75rem;
		justify-content: center;
		position: absolute;
		right: -2.25rem;
		top: 0;
		outline: none;
		width: 1.75rem;

		@media (min-width: vars.$smallTablet) {
			height: 1.9rem;
			right: -2.5rem;
			width: 1.9rem;
		}

		@media (min-width: vars.$smallTablet) {
			right: -2.5rem;
		}

		@media (min-width: vars.$tablet) {
			right: -2.7rem;
		}

		@media (min-width: vars.$desktop) {
			right: -3rem;
			top: -0.25rem;
			height: 2.25rem;
			width: 2.25rem;
		}

		&.hide {
			display: none;
		}
	}

	&__editMode-icon {
		height: 2rem;
		width: 2rem;
	}

	&__sub-heading {
		font-size: var(--headline-small);
		margin-bottom: 2rem;
	}

	&__lead {
		font-size: var(--font-size-xs);
		@include mx.lead;

		@media (min-width: vars.$smallTablet) {
			font-size: var(--font-size-general);
		}
	}

	&__addOrEditProjectOrder {
		height: 2rem;
		opacity: 1;
		@include mx.linkButton;

		&.disabled {
			@include mx.buttonDisabled;
		}
	}

	&__addProjectOrder {
		height: 2rem;
		@include mx.linkButton;
	}

	&__projects {
		min-width: 100%;
		position: relative;
	}

	&__projects-inner {
		margin-inline: auto;
		opacity: 1;
		@include mx.portfolioContainer;
	}

	&__buttons {
		align-items: center;
		display: flex;
		flex-direction: column-reverse;
		gap: 1rem;
		justify-content: center;
		margin-top: 2rem;
		width: 100%;

		@media (min-width: vars.$tablet) {
			gap: 2rem;
			flex-direction: row;
			margin-top: 3rem;
		}
	}

	&__button {
		width: 100%;
		margin-top: 2rem;
		@include mx.button;

		&:nth-last-of-type(2) {
			margin-top: 0;

			@media (min-width: vars.$tablet) {
				margin-top: 3rem;
			}
		}

		@media (min-width: vars.$tablet) {
			margin-top: 3rem;
		}

		&--cancel,
		&--edit,
		&--save {
			@media (min-width: vars.$smallTablet) {
				width: 12rem;
			}
		}

		&--moreProjects {
			font-size: var(--button-text-small);
			width: 16rem;

			@media (min-width: vars.$smallTablet) {
				width: 18rem;
			}
		}
	}
}
