@import "../../partials/mixins";
@import "../../partials/variables";

.portfolio {
	& {
		background: var(--neutral-gray-1);
		width: 100%;
	}

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		padding-bottom: 4rem;
		padding-inline: 1rem;
		padding-top: 2rem;
		text-align: center;
		width: 100%;

		@media (min-width: $tablet) {
			padding-inline: 2rem;
		}
	}

	&__header {
		margin-bottom: 1rem;
	}

	&__heading {
		@include headingGeneral;
		align-items: center;
		display: inline-block;
		justify-content: center;
		font-size: 1.5rem;
		margin-bottom: 3rem;
		margin-top: 2rem;
		position: relative;

		&::after {
			@include afterAccent;
		}
	}

	&__editModeButton {
		align-items: center;
		background: none;
		border: none;
		color: var(--text-color);
		cursor: pointer;
		display: flex;
		height: 1.75rem;
		justify-content: center;
		position: absolute;
		right: -2.25rem;
		top: 0;
		outline: none;
		width: 1.75rem;

		@media (min-width: $smallTablet) {
			height: 1.9rem;
			right: -2.5rem;
			width: 1.9rem;
		}

		@media (min-width: $smallTablet) {
			right: -2.5rem;
		}

		@media (min-width: $tablet) {
			right: -2.7rem;
		}

		@media (min-width: $desktop) {
			right: -3rem;
			top: -0.25rem;
			height: 2.25rem;
			width: 2.25rem;
		}

		&.hide {
			display: none;
		}
	}

	&__editMode-icon {
		height: 2rem;
		width: 2rem;
	}

	&__sub-heading {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	&__lead {
		font-size: 1.25rem;
		letter-spacing: var(--letter-spacing-general);
		margin-bottom: 0.5rem;
	}

	&__addOrEditProjectOrder {
		@include linkButton;
		height: 2rem;
		opacity: 1;

		&.disabled {
			@include buttonDisabled;
		}
	}

	&__addProjectOrder {
		@include linkButton;
		height: 2rem;
	}

	&__projects {
		min-width: 100%;
		position: relative;
	}

	&__projects-inner {
		@include portfolioContainer;
		margin-inline: auto;
		opacity: 1;
	}

	&__buttons {
		align-items: center;
		display: flex;
		flex-direction: column-reverse;
		gap: 2rem;
		justify-content: center;
		margin-top: 2rem;
		width: 100%;

		@media (min-width: $tablet) {
			flex-direction: row;
			margin-top: 3rem;
		}
	}

	&__button {
		@include button;
		margin-top: 2rem;
		width: 100%;

		@media (min-width: $tablet) {
			margin-top: 3rem;
		}

		&--cancel,
		&--edit,
		&--save {
			@media (min-width: $smallTablet) {
				width: 12rem;
			}
		}

		&--moreProjects {
			width: 18rem;
		}
	}
}
