@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.sideNav {
	& {
		background: var(--background-color);
		bottom: 0;
		box-shadow: var(--box-shadow);
		height: 100vh;
		position: fixed;
		right: 0; /* anchor to right edge */
		top: 0;
		transform: translateX(100%); /* start offscreen right */
		transition: transform 0.33s ease-in-out; /* only transform for performance */
		width: 80vw;
		will-change: transform;
		z-index: 3;

		@media (min-width: 525px) {
			width: 50vw;
		}
	}

	&.show {
		transform: translateX(0); /* slide in */
		transition: transform 0.33s ease-out;

		@media (min-width: 525px) {
			width: 50vw;
		}
	}

	&__clickOffDiv {
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 3;
	}

	&__close-button {
		cursor: pointer;
		height: 1.85rem;
		padding-top: 0.8rem;
		position: fixed;
		top: 1.5rem;
		width: 1.85rem;
	}

	&__close-icon {
		background-color: var(--text-color);
		border-radius: 2px;
		height: 2.5px;
		position: absolute;
		transform-origin: center;
		width: 100%;
	}

	&__close-icon:first-child {
		transform: rotate(45deg);
	}

	&__close-icon:last-child {
		transform: rotate(-45deg);
	}

	&__colorModeToggler {
		align-items: center;
		display: flex;
		justify-content: center;
		left: 50%;
		margin-inline: auto;
		margin-top: auto;
	}

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-bottom: 8rem;
		position: relative;
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		margin-top: 8rem;
	}

	&__link {
		color: var(--text-color);
		@include mx.navLink;

		&.active {
			&:after {
				bottom: -2rem;
				@include mx.afterAccent;
			}
		}
	}

	&__logout {
		margin-inline: auto;
	}
}
