.app {
  --body-font: "Arial";
  --heading-font: "Tahoma";
  --line-height-general: 1.45;
  --line-height-medium: 1.75;
  --navBoxShadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
  --letter-spacing-general: 0.6px;
  --border-radius: 4px;
  --lightBox-transition-interval: 450ms;
  --placeholder-transition: all 0.75s ease-in-out;
}
.app[data-color-mode=light] {
  --background-color: #f8f8f8;
  --text-color: #21343c;
  --neutral-gray-1: #e6eae7;
  --neutral-gray-2: #e5edeb;
  --neutral-gray-2: #eaedeb;
  --accent-color: #bcb066;
  --link-button-color: blue;
  --neutralBG: #f8f8f8;
  --overlay: rgba(0, 0, 0, 0.125);
  --overlay-dark: rgba(0, 0, 0, 0.5) 0;
  --gradient-overlay: linear-gradient(
  	to top,
  	rgba(0, 0, 0, 0.28),
  	rgba(255, 255, 255, 0.2)
  );
  --text-shadow-bright: 5px 5px 6px rgba(0, 0, 0, 0.7);
  --text-color-bright: #f8f8f8;
  --background-nav-footer: #152f39;
  --background-color: #d6dadd;
  --modalOverlayBg: rgba(0, 0, 0, 0.5);
  --button-color: #1a7697;
  --button-link: #1a7697;
  --link: #1a7697;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  --placeholder-color: #c7c7c7;
  --error-color: #ff0000;
}
.app[data-color-mode=dark] {
  --text-color: #21343c;
  --neutral-gray-1: #cdd3d8;
  --neutral-gray-2: #c3c9d0;
  --accent-color: #c3be68;
  --nav-link-active: #bcb066;
  --neutralBG: #f8f8f8;
  --link-button-color: blue;
  --gradient-overlay: linear-gradient(
  	to top,
  	rgba(0, 0, 0, 0.28),
  	rgba(255, 255, 255, 0.2)
  );
  --text-shadow-bright: 5px 5px 6px rgba(0, 0, 0, 0.7);
  --text-color-bright: #f8f8f8;
  --overlay: rgba(0, 0, 0, 0.125);
  --background-nav-footer: #152f39;
  --background-color: #d6dadd;
  --button-color: #1a7697;
  --button-link: #1a7697;
  --link: #1a7697;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--neutralBG);
  color: var(--text-color);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input:-webkit-autofill {
  background-color: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  display: block;
}

.app {
  align-items: center;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 100%;
}
.app__inner {
  align-items: center;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 1920px;
  min-height: calc(100vh - 4rem + 1px);
  width: 100%;
  box-shadow: var(--box-shadow);
}
.app__sideNav-children {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  justify-content: end;
  padding-top: 1rem;
  width: 100%;
}
.app__logout--nav {
  display: none;
}
@media (min-width: 768px) {
  .app__logout--nav {
    background: none;
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-inline-start: 2rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border: 1px solid var(--text-color-bright);
    color: var(--text-color-bright);
  }
  .app__logout--nav:hover, .app__logout--nav:focus {
    transform: scale(1.025);
    transition: all 0.25s ease-in-out;
    outline: none;
  }
  .app__logout--nav:active {
    transform: scale(0.99);
    transition: all 0.25s ease-in;
  }
  .app__logout--nav:disabled {
    opacity: 0.8;
  }
  .app__logout--nav:disabled:hover {
    cursor: default;
    transform: scale(1);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
.app__logout--sideNav {
  background: none;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-inline-start: 2rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-inline: auto;
}
.app__logout--sideNav:hover, .app__logout--sideNav:focus {
  transform: scale(1.025);
  transition: all 0.25s ease-in-out;
  outline: none;
}
.app__logout--sideNav:active {
  transform: scale(0.99);
  transition: all 0.25s ease-in;
}
.app__logout--sideNav:disabled {
  opacity: 0.8;
}
.app__logout--sideNav:disabled:hover {
  cursor: default;
  transform: scale(1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.loading {
  left: 50%;
  opacity: 1;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s ease;
  z-index: 4;
}
.loading::after {
  content: "";
  animation: spin 0.5s infinite linear;
  border: 5px solid var(--text-color);
  border-radius: 50%;
  border-top-color: transparent;
  display: block;
  height: 60px;
  width: 60px;
}
.loading:not(.isLoading) {
  opacity: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=App.css.map */