.app {
  --body-font: "Arial";
  --heading-font: "Tahoma";
  --line-height-general: 1.45;
  --line-height-medium: 1.75;
  --navBoxShadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
  --letter-spacing-general: 0.6px;
  --border-radius: 4px;
  --lightBox-transition-interval: 450ms;
  --placeholder-transition: all 0.75s ease-in-out;
}
.app[data-color-mode=light] {
  --background-color: #f8f8f8;
  --text-color: #21343c;
  --neutral-gray-1: #e6eae7;
  --neutral-gray-2: #e5edeb;
  --neutral-gray-2: #eaedeb;
  --accent-color: #bcb066;
  --link-button-color: blue;
  --neutralBG: #f8f8f8;
  --overlay: rgba(0, 0, 0, 0.125);
  --overlay-dark: rgba(0, 0, 0, 0.5) 0;
  --gradient-overlay: linear-gradient(
  	to top,
  	rgba(0, 0, 0, 0.28),
  	rgba(255, 255, 255, 0.2)
  );
  --text-shadow-bright: 5px 5px 6px rgba(0, 0, 0, 0.7);
  --text-color-bright: #f8f8f8;
  --background-nav-footer: #152f39;
  --background-color: #d6dadd;
  --modalOverlayBg: rgba(0, 0, 0, 0.5);
  --button-color: #1a7697;
  --button-link: #1a7697;
  --link: #1a7697;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  --placeholder-color: #c7c7c7;
  --error-color: #ff0000;
}
.app[data-color-mode=dark] {
  --text-color: #21343c;
  --neutral-gray-1: #cdd3d8;
  --neutral-gray-2: #c3c9d0;
  --accent-color: #c3be68;
  --nav-link-active: #bcb066;
  --neutralBG: #f8f8f8;
  --link-button-color: blue;
  --gradient-overlay: linear-gradient(
  	to top,
  	rgba(0, 0, 0, 0.28),
  	rgba(255, 255, 255, 0.2)
  );
  --text-shadow-bright: 5px 5px 6px rgba(0, 0, 0, 0.7);
  --text-color-bright: #f8f8f8;
  --overlay: rgba(0, 0, 0, 0.125);
  --background-nav-footer: #152f39;
  --background-color: #d6dadd;
  --button-color: #1a7697;
  --button-link: #1a7697;
  --link: #1a7697;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.header {
  color: var(--text-color-bright);
  height: 100vh;
  max-width: 1920px;
  position: fixed;
  top: 0;
  width: 100vw;
}
.header__hero {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  top: 0;
  width: 100%;
}
.header__dayImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  background: url("../../assets/images/bg-day-top.jpg") center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__dayImg.top {
  opacity: 1;
  transition: all 1s ease-in-out;
  z-index: 1;
}
.header__nightImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  background: url("../../assets/images/bg-night-top.jpg") center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__nightImg.top {
  opacity: 1;
  transition: all 1s ease-in-out;
  z-index: 1;
}
.header__overlay {
  background: var(--gradient-overlay);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header__bg-layer {
  background: var(--background-color);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header__content {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.header__headline {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  letter-spacing: 3.5px;
  margin-bottom: 1.5rem;
  text-align: center;
  text-shadow: var(--text-shadow-bright);
}
@media (min-width: 480px) {
  .header__headline {
    font-size: 2rem;
    margin-bottom: 1.75rem;
  }
}
@media (min-width: 768px) {
  .header__headline {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1080px) {
  .header__headline {
    font-size: 2.5rem;
  }
}
.header__introduction {
  font-size: 2.5rem;
  font-weight: 500;
  height: 3rem;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  text-align: center;
  text-shadow: var(--text-shadow-bright);
}
@media (min-width: 480px) {
  .header__introduction {
    font-size: 2.75rem;
    height: 3.25rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 768px) {
  .header__introduction {
    font-size: 4rem;
    height: 4.25rem;
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 1080px) {
  .header__introduction {
    font-size: 4.5rem;
    height: 4.5rem;
    margin-bottom: 3rem;
  }
}
.header__description {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1.75px;
  margin-bottom: 1.75rem;
  text-align: center;
  text-shadow: var(--text-shadow-bright);
}
@media (min-width: 480px) {
  .header__description {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 768px) {
  .header__description {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1080px) {
  .header__description {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.header__button {
  align-items: center;
  background: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 1.25rem;
  font-family: var(--body-font);
  font-weight: bold;
  gap: 0.75rem;
  font-weight: 200;
  justify-content: center;
  letter-spacing: 3px;
  padding: 1rem 1.25rem;
  transition: all 250 ease-in-out;
  border: 2px solid var(--text-color-bright);
  box-shadow: var(--box-shadow);
  color: var(--text-color-bright);
  margin-inline: auto;
}
@media (min-width: 480px) {
  .header__button {
    font-size: 1.5rem;
  }
}
.header__button:hover, .header__button:focus {
  transform: scale(1.025);
  transition: all 0.25s ease-in-out;
  font-weight: 500;
  outline: none;
}
.header__button:active {
  transform: scale(0.99);
  transition: all 0.25s ease-in;
}
.header__button:disabled {
  opacity: 0.8;
}
.header__button:disabled:hover {
  transform: scale(1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
}
@media (min-width: 480px) {
  .header__button {
    margin-bottom: 1.5rem;
  }
}
.header__button-text {
  text-shadow: var(--text-shadow-bright);
}
@media (min-width: 768px) {
  .header__button-text {
    font-size: 1.5rem;
  }
}
.header__button-down {
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.8));
  height: 20px;
  stroke: var(--text-color-bright);
  width: 20px;
}
.header__socials {
  align-items: center;
  bottom: 2rem;
  display: flex;
  gap: 1.125rem;
  height: 4rem;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
@media (min-width: 480px) {
  .header__socials {
    font-size: 1.5rem;
    gap: 1.5rem;
  }
}
.header__social:hover, .header__social:focus {
  transform: scale(1.025);
  transition: all 0.25s ease-in-out;
  transform: scale(1.15);
}
.header__social-icon {
  fill: var(--text-color-bright);
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.8));
  width: 1.85rem;
}
@media (min-width: 480px) {
  .header__social-icon {
    width: 2.25rem;
  }
}
@media (min-width: 768px) {
  .header__social-icon {
    font-size: 1.5rem;
    width: 2.5rem;
  }
}
@media (min-width: 1080px) {
  .header__social-icon {
    font-size: 1.5rem;
    width: 2.75rem;
  }
}/*# sourceMappingURL=Header.css.map */