.app {
  --body-font: "Arial";
  --heading-font: "Tahoma";
  --line-height-general: 1.45;
  --line-height-medium: 1.75;
  --navBoxShadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
  --letter-spacing-general: 0.6px;
  --border-radius: 4px;
  --lightBox-transition-interval: 450ms;
  --placeholder-transition: all 0.75s ease-in-out;
}
.app[data-color-mode=light] {
  --background-color: #f8f8f8;
  --text-color: #21343c;
  --neutral-gray-1: #e6eae7;
  --neutral-gray-2: #e5edeb;
  --neutral-gray-2: #eaedeb;
  --accent-color: #bcb066;
  --link-button-color: blue;
  --neutralBG: #f8f8f8;
  --overlay: rgba(0, 0, 0, 0.125);
  --overlay-dark: rgba(0, 0, 0, 0.5) 0;
  --gradient-overlay: linear-gradient(
  	to top,
  	rgba(0, 0, 0, 0.28),
  	rgba(255, 255, 255, 0.2)
  );
  --text-shadow-bright: 5px 5px 6px rgba(0, 0, 0, 0.7);
  --text-color-bright: #f8f8f8;
  --background-nav-footer: #152f39;
  --background-color: #d6dadd;
  --modalOverlayBg: rgba(0, 0, 0, 0.5);
  --button-color: #1a7697;
  --button-link: #1a7697;
  --link: #1a7697;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  --placeholder-color: #c7c7c7;
  --error-color: #ff0000;
}
.app[data-color-mode=dark] {
  --text-color: #21343c;
  --neutral-gray-1: #cdd3d8;
  --neutral-gray-2: #c3c9d0;
  --accent-color: #c3be68;
  --nav-link-active: #bcb066;
  --neutralBG: #f8f8f8;
  --link-button-color: blue;
  --gradient-overlay: linear-gradient(
  	to top,
  	rgba(0, 0, 0, 0.28),
  	rgba(255, 255, 255, 0.2)
  );
  --text-shadow-bright: 5px 5px 6px rgba(0, 0, 0, 0.7);
  --text-color-bright: #f8f8f8;
  --overlay: rgba(0, 0, 0, 0.125);
  --background-nav-footer: #152f39;
  --background-color: #d6dadd;
  --button-color: #1a7697;
  --button-link: #1a7697;
  --link: #1a7697;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.sideNav {
  background: var(--neutralBG);
  bottom: 0;
  box-shadow: var(--box-shadow);
  height: 100vh;
  left: 200vw;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 80vw;
  z-index: 3;
}
@media (min-width: 525px) {
  .sideNav {
    width: 50vw;
  }
}
.sideNav.show {
  left: 20vw;
  transition: all 0.5s ease-out;
}
@media (min-width: 525px) {
  .sideNav.show {
    left: 50vw;
  }
}
.sideNav__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: min(4rem, 10%);
  position: relative;
}
.sideNav__touchOff-div {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.sideNav__close-button {
  cursor: pointer;
  height: 2rem;
  padding-top: 0.8rem;
  position: fixed;
  top: 2.5rem;
  width: 2rem;
}
.sideNav__links {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 8rem;
}
.sideNav__link {
  color: var(--text-color-bright);
  font-family: var(--heading-font);
  font-weight: 500;
  letter-spacing: 4px;
  position: relative;
  color: var(--text-color);
}
.sideNav__link.active:after {
  background: var(--accent-color);
  bottom: -0.6rem;
  content: "";
  height: 2.5px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: -2rem;
}
.sideNav__close-icon {
  background-color: var(--text-color);
  border-radius: 2px;
  height: 3.75px;
  position: absolute;
  transform-origin: center;
  width: 100%;
}
.sideNav__close-icon:first-child {
  transform: rotate(45deg);
}
.sideNav__close-icon:last-child {
  transform: rotate(-45deg);
}
.sideNav__logout {
  margin-inline: auto;
}
.sideNav__colorModeToggler {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  margin-inline: auto;
  margin-top: auto;
}/*# sourceMappingURL=SideNav.css.map */