@import "../../partials/mixins";
@import "../../partials/variables";

.contact {
	& {
		@include page;
	}

	&__inner {
		@include wallpaperContainer;
	}

	&__content {
		@include formContent;
	}

	&__heading {
		@include formHeading;
		display: inline-block;
		margin-bottom: 3rem;
		position: relative;

		&::after {
			@include afterAccent;
		}
	}
}
