@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.contact {
	& {
		@include mx.page;
	}

	&__inner {
		@include mx.wallpaperContainer;
	}

	&__content {
		@include mx.formContent;
	}

	&__heading {
		@include mx.formHeading;
		& {
			display: inline-block;
			margin-bottom: 2rem;
			position: relative;
		}

		@media (min-width: vars.$tablet) {
			margin-bottom: 3rem;
		}

		&::after {
			@include mx.afterAccent;
		}
	}
}
