@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.contact {
	& {
		@include mx.page;
	}

	&__inner {
		@include mx.wallpaperContainer;
	}

	&__content {
		@include mx.formContent;
	}

	&__heading {
		display: inline-block;
		margin-bottom: 3rem;
		position: relative;
		@include mx.formHeading;

		&::after {
			@include mx.afterAccent;
		}
	}
}
