@import "../../partials/mixins";
@import "../../partials/variables";

.loginForm {
	& {
		@include formFullWidth;
	}

	&__inner {
		@include formFullWidthInner;
	}

	&__heading {
		@include formHeading;

		&::after {
			@include afterAccent;
		}
	}

	&__form {
		@include form;
	}

	&__field {
		position: relative;
	}

	&__label {
		@include hiddenLabel;
	}

	&__input {
		@include formFullWidthInput;

		&:focus {
			box-shadow: var(--box-shadow-input);
			outline: none;
		}

		&::placeholder {
			color: var(--text-color);
			font-size: var(--font-size-fine);
		}
	}

	&__error {
		@include formErrorMessage;
	}

	&__submit {
		display: flex;
		margin-top: auto;
	}

	&__button {
		@include button;
		background: var(--accent-color);
		border: none;
		width: 100%;
	}
}

.passwordInput {
	&__icon {
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		fill: var(--text-color);
		margin-top: -3.5rem;
		outline: none;
		position: absolute;
		right: 0.5rem;

		&.hide {
			display: none;
		}
	}
}
