@import "../../partials/mixins";
@import "../../partials/variables";

.home {
  @include page;
  background: var(--background-color);

  &__main {
    margin-top: calc(100vh - $navHeight);
    position: relative;
  }
}