@import "../../partials/mixins";
@import "../../partials/variables";

.home {
  @include page;
  background: green;

  &__main {
    background: pink;
    margin-top: calc(100vh - $navHeight);
    position: relative;
  }
}