@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.home {
	& {
		background: var(--background-color);
		@include mx.page;
	}

	&__main {
		margin-top: 100vh;
		position: relative;
	}
}
