@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.blogPostPlaceholder {
	& {
		max-width: 100%;
		padding-inline: 1rem;
		@include mx.blogPost;

		@media (min-width: vars.$smallTablet) {
			max-width: vars.$tablet;
			padding-inline: 0;
		}

		@media (min-width: vars.$tablet) {
			max-width: vars.$tablet;
		}
	}

	&__video {
		aspect-ratio: 16/9;
		background: var(--placeholder-color);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		margin-bottom: 1rem;
		@include mx.blogPostVideo;

		@media (min-width: vars.$smallTablet) {
			margin-bottom: 1.5rem;
		}

		@media (min-width: 600px) {
			margin-bottom: 1.25rem;
		}

		@media (min-width: 650px) {
			margin-bottom: 1rem;
		}

		@media (min-width: vars.$tablet) {
			margin-bottom: 0.75rem;
		}

		@media (min-width: 875px) {
			margin-bottom: 1rem;
		}

		@media (min-width: 900px) {
			margin-bottom: 1.25rem;
		}
	}

	&__title {
		background: var(--placeholder-color);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		height: 1.75rem;
		margin-bottom: 1rem;
		margin-inline: auto;
		width: 80%;

		@media (min-width: 500px) {
			margin-bottom: 1.25rem;
		}

		@media (min-width: vars.$smallTablet) {
			margin-bottom: 1rem;
		}

		@media (min-width: vars.$tablet) {
			height: 2rem;
			margin-bottom: 1.25rem;
		}
	}

	&__desc {
		background: var(--placeholder-color);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		height: 5.75rem;
		margin-bottom: 2.5rem;
		margin-inline: auto;
		width: 90%;

		@media (min-width: vars.$smallTablet) {
			height: 6rem;
		}

		@media (min-width: vars.$tablet) {
			height: 7.5rem;
		}
	}
}
