@import "../../partials/mixins";
@import "../../partials/variables";

.about {
	& {
		background: var(--neutral-gray-1);
	}

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-block: 4rem;
		width: 100%;
	}

	&__header {
		display: flex;
		flex-direction: column;
		font-size: 1.25rem;
		gap: 2rem;
		text-align: center;
	}

	&__heading {
		@include headingGeneral;
		display: inline-block;
		font-size: var(--heading-text-small);
		margin-inline: auto;
		position: relative;

		&::after {
			@include afterAccent;
		}
	}

	&__sub-heading {
		display: none;

		@media (min-width: $smallTablet) {
			display: block;
			font-size: var(--sub-heading-text-small);
			letter-spacing: var(--letter-spacing-relaxed);
			margin-inline: auto;
			max-width: 85%;
		}
	}

	&__summary {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-inline: auto;
		max-width: $largeTablet;

		@media (min-width: $tablet) {
			align-items: center;
			flex-direction: row;
			gap: 1rem;
			padding-inline: 2rem;
		}
	}

	&__img {
		border-radius: 50%;
		height: 15rem;
		margin-inline: auto;
		width: 15rem;

		@media (min-width: $tablet) {
			margin-inline-end: 0;
			margin-inline-start: auto;
		}
	}

	&__name {
		font-size: var(--heading-text-small);
		letter-spacing: var(--letter-spacing-relaxed);
		text-align: center;

		@media (min-width: $smallTablet) {
			display: none;
		}
	}

	&__content {
		margin-inline: auto;
		max-width: $tablet;
		padding-inline: 2rem;

		@media (min-width: $tablet) {
			margin-inline-start: 0;
		}
	}

	&__blurb {
		font-size: var(--font-size-general);
		letter-spacing: var(--letter-spacing-general);
		line-height: var(--line-height-general);
	}
}
