@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.blogPost {
	& {
		// to offset border around placeholder
		height: 240px;
		max-height: 375px;
		min-height: 375px;
		opacity: 1;
		position: relative;

		@media (min-width: 350px) {
			max-height: 385px;
			min-height: 385px;
		}

		@media (min-width: 375px) {
			max-height: 400px;
			min-height: 400px;
		}

		@media (min-width: 400px) {
			max-height: 415px;
			min-height: 415px;
		}

		@media (min-width: 425px) {
			max-height: 430px;
			min-height: 430px;
		}

		@media (min-width: 450px) {
			max-height: 445px;
			min-height: 445px;
		}

		@media (min-width: 475px) {
			max-height: 460px;
			min-height: 460px;
		}

		@media (min-width: 500px) {
			max-height: 475px;
			min-height: 475px;
		}

		@media (min-width: 525px) {
			max-height: 490px;
			min-height: 490px;
		}

		@media (min-width: 600px) {
			max-height: 505px;
			min-height: 505px;
		}

		@media (min-width: 625px) {
			max-height: 515px;
			min-height: 515px;
		}

		@media (min-width: 650px) {
			max-height: 530px;
			min-height: 530px;
		}

		@media (min-width: 675px) {
			max-height: 545px;
			min-height: 545px;
		}

		@media (min-width: 700px) {
			max-height: 560px;
			min-height: 560px;
		}

		@media (min-width: 725px) {
			max-height: 575px;
			min-height: 575px;
		}

		@media (min-width: vars.$tablet) {
			max-height: 615px;
			min-height: 615px;
		}

		@media (min-width: 775px) {
			max-height: 630px;
			min-height: 630px;
		}

		@media (min-width: 800px) {
			max-height: 645px;
			min-height: 645px;
		}

		@media (min-width: 850px) {
			max-height: 660px;
			min-height: 660px;
		}

		@media (min-width: 875px) {
			max-height: 675px;
			min-height: 675px;
		}

		@media (min-width: 1050px) {
			max-height: 690px;
			min-height: 690px;
		}

		&.isReady {
			height: 100%;
			max-height: 1000rem;
			min-height: 100%;
			outline: none;
			overflow: none;
			transition: max-height 1s ease;
		}
	}

	&__placeholder {
		position: absolute;
		width: 100%;
		z-index: 2;

		&.fade {
			opacity: 0;
			@include mx.smoothClosingTransition;
		}

		&.hide {
			display: none;
		}
	}

	&__inner {
		opacity: 0;
		transition: var(--placeholder-transition);
		@include mx.blogPost;

		&.show {
			opacity: 1;
			@include mx.generalOpacityTransition;
		}
	}

	&__video {
		margin-inline: auto;
		max-width: 85vw;
		@include mx.blogPostVideo;
	}

	&__iframe {
		aspect-ratio: 16/9;
		border: none;
		height: auto;
		margin-bottom: 1rem;
		max-width: 100%;
		outline: none;
		width: 100%;

		@media (min-width: 450px) {
			margin-bottom: 1.25rem;
		}
	}

	&__video-text {
		color: var(--text-color);
		display: flex;
		flex-direction: column;
		font-size: var(--font-size-xs);
		gap: 0.5rem;
		letter-spacing: var(--letter-spacing-general);
		line-height: var(--line-height-medium);
		overflow-wrap: anywhere;
		padding-inline: 0.5rem;
		word-break: break-word;

		@media (min-width: vars.$tablet) {
			font-size: var(--font-size-small);
			gap: 0.75rem;
		}

		&--label {
			font-weight: 600;
		}

		&--title {
			font-size: inherit;
			font-weight: normal;

			&.ellipsis {
				@include mx.ellipsisOneLine;
			}
		}
	}

	&__description {
		font-size: inherit;
		line-height: var(--line-height-general);

		&.ellipsis {
			-webkit-line-clamp: 3;
			line-clamp: 3;
			@include mx.ellipsisMultiLine;
		}

		&--label {
			font-weight: 600;
		}
	}

	&__show-full-info {
		font-size: var(--font-size-fine);
		@include mx.linkButton;
	}
}
