@import "../../partials/mixins";
@import "../../partials/variables";

.blogPost {

  & {
    
    &__inner {
      height: 100%;
      width: 100%;
    }

    &__video {
      display: flex;
      flex-direction: column;
      max-width: $largeTablet;
      width: 100%;
    }

    &__iframe {
      aspect-ratio: 16/9;
      max-width: 100%;
    }

    &__video-text {
      text-align: center;
    }

    &__video-title {
      color: var(--text-color);
      margin-block: 1rem;
    }
  }
}