@import "../../partials/mixins";
@import "../../partials/variables";

.blogPost {
  & {

    // background: var(--neutral-gray-1);
    
    &__inner {
      height: 100%;
      width: 100%;
    }

    &__video {
      // border: 2px dashed #333;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: $largeTablet;
    }

    &__iframe {
      max-width: 100%;
      aspect-ratio: 16/9;
    }

    &__video-text {
      // border: 2px solid blue;
      text-align: center;
    }

    &__video-title {
      color: var(--text-color);
      margin-block: 1rem;
    }
  }
}