@import "../../../partials/mixins";
@import "../../../partials/variables";

.skill {

  &__item {
    align-items: center;
    border: 3px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 5.5rem;
    padding-bottom: 0.25rem;
    padding-top: 1rem;
    width: 5.5rem;
    margin-inline: auto;

    @media(min-width: $tablet) {
      height: 7rem;
      width: 7rem;
    }

    @media(min-width: $largeTablet) {
      height: 5.5rem;
      width: 5.5rem;
    }

    &--small {
      gap: 0;
    }
  }
}