@import "../../partials/mixins";
@import "../../partials/variables";

.colorModeToggle {
	& {
		border-radius: 50%;
		position: relative;
	}

	&__checkbox {
		opacity: 0;
		position: absolute;
	}

	&__checkbox-label {
		border: 1px solid rgba(255, 255, 255, 0.25);
		box-shadow: inset 2px 2px 2px rgba(250, 250, 250, 0.65);
		align-items: center;
		background-color: var(--toggle-sky);
		border-radius: 50px;
		cursor: pointer;
		display: flex;
		height: 28px;
		justify-content: space-between;
		// outline: 1px solid var(--text-color);
		padding: 5px;
		position: relative;
		width: 52.5px;
	}

	&__ball {
		background-color: var(--toggle-ball);
		border-radius: 50%;
		height: 22px;
		left: 3px;
		position: absolute;
		top: 2.5px;
		transition: transform 0.2s linear;
		width: 22px;
	}

	&__sun-icon {
		position: fixed;
		transform: translateX(10%);
		width: 1.1rem;
	}

	&__moon-icon {
		position: fixed;
		transform: translateX(260%);
		width: 0.6rem;
	}

	&__checkbox:checked + &__checkbox-label &__ball {
		transform: translateX(24px);
	}
}
