@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.contactForm {
	& {
		@include mx.formFullWidth;
	}

	&__inner {
		@include mx.formFullWidthInner;
	}

	&__header {
		&.hide {
			display: none;
		}
	}

	&__heading {
		@include mx.formHeading;

		&::after {
			@include mx.afterAccent;
		}
	}

	&__sub-heading {
		display: none;
		margin-bottom: 2rem;
		@include mx.subHeadingGeneral;

		@media (min-width: vars.$smallTablet) {
			display: block;
		}
	}

	&__form {
		@include mx.formTall;

		@media (min-height: 750px) {
		}
	}

	&__lead {
		font-size: var(--font-size-xs);
		line-height: var(--line-height-medium);
		margin-bottom: 1.5rem;
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__input {
		@include mx.formFullWidthInput;

		&:focus {
			box-shadow: var(--box-shadow-input);
			outline: none;
		}

		&::placeholder {
			color: var(--text-color);
			font-size: var(--font-size-fine);
			letter-spacing: var(--letter-spacing-general);
		}

		&--message {
			height: 12rem;
			resize: none;
		}
	}

	&__error {
		@include mx.formErrorMessage;
	}

	&__submit {
		display: flex;
		margin-inline: auto;
		margin-top: 1rem;
		max-width: 95%;
		width: 95%;

		@media (min-height: 800px) {
			margin-top: auto;
		}
	}

	&__button {
		background: var(--accent-color);
		border: none;
		width: 100%;
		@include mx.button;
	}
}
