@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.header {
	& {
		color: var(--text-color-bright);
		height: 100vh;
		max-width: vars.$ultraWide;
		position: fixed;
		top: 0;
		width: 100vw;
	}

	&__hero {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		position: relative;
		top: 0;
		width: 100%;
	}

	&__dayImg {
		background: url("../../assets/images/bg-day-top.webp") center top;
		background-repeat: no-repeat;
		background-size: cover;
		@include mx.heroImg;

		&.top {
			@include mx.heroImgTop;
		}
	}

	&__nightImg {
		background: url("../../assets/images/bg-night-top.webp") center top;
		background-repeat: no-repeat;
		background-size: cover;
		@include mx.heroImg;

		&.top {
			@include mx.heroImgTop;
		}
	}

	&__overlay {
		background: var(--gradient-overlay);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	&__bg-layer {
		background: var(--background-color);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	&__content {
		display: flex;
		flex-direction: column;
		z-index: 2;
		margin-top: -(vars.$navHeight);

		@media (min-width: vars.$smallTablet) {
			margin-top: 0;
		}
	}

	&__headline {
		font-family: var(--heading-font);
		font-size: var(--headline-small);
		letter-spacing: var(--letter-spacing-headline);
		margin-bottom: 1.5rem;
		text-align: center;
		text-shadow: var(--text-shadow-bright);

		@media (min-width: vars.$smallTablet) {
			font-size: var(--headline-medium);
			margin-bottom: 1.75rem;
		}

		@media (min-width: vars.$tablet) {
			margin-bottom: 2rem;
		}

		@media (min-width: vars.$largeTablet) {
			font-size: var(--headline-large);
		}
	}

	&__introduction {
		font-size: var(--headline-large);
		font-weight: 500;
		height: 3rem;
		letter-spacing: var(--letter-spacing-medium);
		margin-bottom: 1.25rem;
		text-align: center;
		text-shadow: var(--text-shadow-bright);

		@media (min-width: vars.$smallTablet) {
			font-size: var(--headline-xl);
			height: 3.25rem;
			margin-bottom: 1.5rem;
		}

		@media (min-width: vars.$tablet) {
			font-size: var(--headline-xxl);
			height: 4.25rem;
			margin-bottom: 2.25rem;
		}

		@media (min-width: vars.$largeTablet) {
			font-size: var(--headline-xxxl);
			height: 4.5rem;
			margin-bottom: 2.5rem;
		}
	}

	&__description {
		font-size: var(--headline-small);
		font-weight: 300;
		letter-spacing: var(--letter-spacing-large);
		margin-bottom: 1.75rem;
		text-align: center;
		text-shadow: var(--text-shadow-bright);

		@media (min-width: vars.$smallTablet) {
			margin-bottom: 1.5rem;
			font-size: 1.75rem;
		}

		@media (min-width: vars.$tablet) {
			font-size: var(--headline-medium);
			margin-bottom: 2rem;
		}

		@media (min-width: vars.$largeTablet) {
			font-size: 2.25rem;
			margin-bottom: 2rem;
		}
	}

	&__button {
		background: none !important;
		border: 2px solid var(--text-color-bright) !important;
		box-shadow: var(--box-shadow);
		margin-inline: auto;
		color: var(--text-color-bright);
		@include mx.button;

		@media (min-width: vars.$smallTablet) {
			margin-bottom: 1.5rem;
		}
	}

	&__button-text {
		letter-spacing: var(--letter-spacing-medium);
		letter-spacing: var(--letter-spacing-large);
		text-shadow: var(--text-shadow-bright);
		// text-shadow: var(--text-shadow-brightest);
		color: var(--text-color-bright);
		font-weight: 550;

		@media (min-width: vars.$tablet) {
			font-size: var(--button-text-medium);
		}
	}

	&__button-down {
		filter: var(--filter-box-shadow);
		height: 20px;
		stroke: var(--text-color-bright);
		width: 20px;
	}

	&__socials {
		align-items: center;
		bottom: 5rem;
		display: flex;
		gap: 1.125rem;
		height: 4rem;
		justify-content: center;
		position: absolute;
		z-index: 2;

		@media (min-width: vars.$smallTablet) {
			bottom: 2rem;
			font-size: 1.5rem;
			gap: 1.5rem;
		}
	}

	&__social {
		&:hover,
		&:focus {
			@include mx.hoverClickGrowIcon;
		}
	}

	&__social-icon {
		fill: var(--text-color-bright);
		filter: var(--filter-box-shadow);
		width: 1.85rem;

		@media (min-width: vars.$smallTablet) {
			width: 2.25rem;
		}

		@media (min-width: vars.$tablet) {
			font-size: 1.5rem;
			width: 2.5rem;
		}

		@media (min-width: vars.$largeTablet) {
			font-size: 1.5rem;
			width: 2.75rem;
		}
	}
}
