@import "../../partials/mixins";
@import "../../partials/variables";

.blogFeed {
	& {
		@media (min-width: $smallTablet) {
			padding-block: 2rem;
			padding-inline: 2rem;
		}

		&.home {
			background: var(--neutral-gray-2);
		}
	}

	&__inner {
		margin-inline: auto;
		max-width: $largeTablet;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		margin-bottom: 2rem;

		@media (min-width: 350px) {
			gap: 1.5rem;
		}

		@media (min-width: 400px) {
			gap: 2rem;
		}

		@media (min-width: $smallTablet) {
			gap: 3rem;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-block: 2rem;
		text-align: center;
	}

	&__heading {
		@include headingGeneral;
		display: inline-block;
		font-size: var(--headline-small);
		margin-inline: auto;
		position: relative;

		&::after {
			@include afterAccent;
		}
	}

	&__sub-heading {
		font-size: var(--headline-small);
		line-height: var(--line-height-general);
		margin-inline: auto;
		max-width: 90%;
	}

	&__most-recent {
		white-space: nowrap;
	}

	&__cta {
		padding-block: 2rem;
		text-align: center;
	}

	&__button {
		@include button;
		background: var(--neutralBG);
		margin-inline: auto;
		position: relative;
		z-index: 1;

		&.disabled {
			@include buttonDisabled;
		}

		&.isOnHome {
			background: none;
		}
	}
}
