@import "../../partials/mixins";
@import "../../partials/variables";

.blogFeed {
	& {
		@media (min-width: $smallTablet) {
			padding-block: 2rem;
			padding-inline: 2rem;
		}

		&.home {
			background: var(--neutral-gray-2);
		}
	}

	&__inner {
		margin-inline: auto;
		max-width: $largeTablet;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-bottom: 2rem;
	}

	&__header {
		display: flex;
		flex-direction: column;
		font-size: 1.25rem;
		gap: 2rem;
		padding-block: 2rem;
		text-align: center;
	}

	&__heading {
		@include headingGeneral;
		display: inline-block;
		font-size: 1.5rem;
		margin-inline: auto;
		position: relative;

		&::after {
			@include afterAccent;
		}
	}

	&__cta {
		padding-block: 2rem;
		text-align: center;
	}

	&__button {
		@include button;
		background: var(--neutralBG);
		margin-inline: auto;
		position: relative;
		z-index: 1;

		&.disabled {
			@include buttonDisabled;
		}

		&.isOnHome {
			background: none;
		}
	}
}
