@import './_variables.scss';

.app {
  --body-font: "Arial";
  // --borderRadius: 8px;
  --heading-font: "Tahoma";
  --line-height-general: 1.4;
  --line-height-medium: 1.75;
  --navBoxShadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);


  // light mode custom variables
  &[data-color-mode='light'] {
    --background-color: #f8f8f8;
    --text-color: #21343c;
    --neutral-gray-1: #cdd3d8;
    --neutral-gray-2: #c3c9d0;
    // --accent-color: #c3be68;
    --accent-color: #bcb066;

    --sideNavBG: #f8f8f8;

    --gradient-overlay: linear-gradient(to top, rgba(0, 0, 0, 0.28), rgba(255, 255, 255, 0.2));
    --text-shadow-bright: 5px 5px 6px rgba(0, 0, 0, 0.7);
    --text-color-bright:#f8f8f8;

    --overlay: rgba(0, 0, 0, 0.125);

    // --hover-emphasis: #B3D4DC;
    
    // --navAndFooterBG: #F3F3F3;
    
    --background-nav-footer: #152f39;
    --background-color: #D6DADD;
    // --button-color: var(--background-color);
    --button-color: #1A7697;
    // --button-background: #888676;
    --button-link: #1A7697;
    --link: #1A7697;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    --error-color: #ff0000;
    // --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    // --nav-boxShadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    // --footer-boxShadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
    // --toggle-sky: #47478d;
    // --toggle-ball: #F3F3F3;
    // --error-color: #FF0000;
    // --hover-color: #747171;
    // --placeholder-color: #adafaf;
  }
  
  // dark mode custom variables
  &[data-color-mode='dark'] {
    --text-color: #21343c;
    --neutral-gray-1: #cdd3d8;
    --neutral-gray-2: #c3c9d0;
    --accent-color: #c3be68;
    // --accent-color: #bcb066;
    --nav-link-active: #bcb066;

    --sideNavBG: #f8f8f8;

    --gradient-overlay: linear-gradient(to top, rgba(0, 0, 0, 0.28), rgba(255, 255, 255, 0.2));
    --text-shadow-bright: 5px 5px 6px rgba(0, 0, 0, 0.7);
    --text-color-bright:#f8f8f8;

    --overlay: rgba(0, 0, 0, 0.125);

    // --hover-emphasis: #B3D4DC;
    
    // --navAndFooterBG: #F3F3F3;
    
    --background-nav-footer: #152f39;
    --background-color: #D6DADD;
    // --button-color: var(--background-color);
    --button-color: #1A7697;
    // --button-background: #888676;
    --button-link: #1A7697;
    --link: #1A7697;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    // --nav-boxShadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    // --footer-boxShadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
    // --toggle-sky: #47478d;
    // --toggle-ball: #F3F3F3;
    // --error-color: #FF0000;
    // --hover-color: #747171;
    // --placeholder-color: #adafaf;
  }
}

@mixin appLayout {
  align-items: center;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 100%;

  @media(min-width: $tablet) {
    // margin-top: 4rem;
  }
  
  @media(min-width: 768px) {
    // margin-top: 0;
  }
}

@mixin page {
  max-width: $ultraWide;
  width: 100%;
}

@mixin inner {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: $ultraWide;
  min-height: calc((100vh - $navHeight) + 1px);
  box-shadow: var(--box-shadow);
}

@mixin heroImg {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

@mixin heroImgTop {
  opacity: 1;
  transition: all 1s ease-in-out;
  z-index: 1;
}

@mixin navLink {
  color: var(--text-color-bright);
  font-weight: 500;
  font-family: var(--heading-font);
  letter-spacing: 4px;
  position: relative;
}

@mixin navLinkActive {
  bottom: -0.6rem; 
  background: var(--accent-color); 
  content: "";
  height: 2.5px; 
  left: 0;
  position: absolute;
  right: 0;
}

@mixin afterAccent {
  content: "";
  background: var(--accent-color); 
  bottom: -0.6rem; 
  height: 2.5px; 
  left: 0;
  position: absolute;
  right: 0;
}

@mixin headingGeneral {
  font-family: var(--heading-font);
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 600;
}

@mixin formFullWidth { 
  align-items: center;
  background: var(--neutral-gray-2);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-inline: 2rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

@mixin formFullWidthInner {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: $tablet;
  min-width: 100%;
  padding-block: 3rem;
  
  @media(min-width: $smallTablet) {
    padding-inline: 2rem;
  }
}

@mixin formFullWidthInput {
  background: none;
  border: none;
  border-bottom: 2px solid var(--text-color);
  font-family: var(--body-font);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  outline: none;
  padding-block: 0.75rem;
  padding-inline: 0.75rem;
  position: relative;
  width: 100%;
}

@mixin form {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  
  @media(min-height: 600px) {
    overflow-y: hidden;
  }
}

@mixin formTall {
  @include form;
  overflow-y: scroll!important;
  
  @media(min-height: 750px) {
    overflow-y: hidden;
  }
}

@mixin formErrorMessage {
  color: var(--error-color);
  margin-top: -1.25rem;
}

@mixin formHeading {
  @include headingGeneral;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 3rem;
    position: relative;
}

@mixin hoverClickGrow {
  transform: scale(1.025);
  transition: all 0.25s ease-in-out;
}

@mixin hoverClickGrowIcon {
  @include hoverClickGrow;
  transform: scale(1.15);
}

@mixin hoverClickShrink {
  transform: scale(0.99);
  transition: all 0.25s ease-in;
}

@mixin wallpaperContainer {
  display: flex;
  height: calc(100vh - $navHeight);
  justify-content: center;
  padding-bottom: 2rem;
  padding-inline: 1rem;
  padding-top: calc($navHeight + 2rem);
  position: relative;
  width: 100%;
}

@mixin formContent {
  box-shadow: var(--box-shadow);
  max-width: $largeTablet;
  width: 100%;
}

@mixin button {
  align-items: center;
  background: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 1.25rem;
  font-family: var(--body-font);
  font-weight: bold;
  gap: 0.75rem;
  font-weight: 200;
  justify-content: center;
  letter-spacing: 3px;
  padding: 0.75rem 1.25rem;
  padding: 1rem 1.25rem;
  transition: all 250 ease-in-out;

  @media(min-width: $smallTablet) {
    font-size: 1.5rem;
  }

  &:hover, 
  &:focus {
    @include hoverClickGrow;
    font-weight: 500;
    outline: none;
  }

  &:active {
    @include hoverClickShrink;
  }
  
  &:disabled {
    opacity: 0.8;
  
    &:hover {
      transform: scale(1);
      user-select: none;
      cursor: default;
    }
  }
}



@mixin adminButton {
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  color: var(--text-color);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-inline-start: 2rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;

  &:hover, 
  &:focus {
    @include hoverClickGrow;
    font-weight: 500;
    outline: none;
  }
  
  &:active {
    @include hoverClickShrink;
  }
    
  &:disabled {
    opacity: 0.8;
  
    &:hover {
      transform: scale(1);
      user-select: none;
      cursor: default;
    }
  }
}

// @mixin input {
//   border: 1px solid var(--text-color);
//   border-radius: var(--borderRadius);
//   background: var(--background-color);
//   color: var(--text-color);
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: 1.125rem;
//   padding-block: 0.5rem;
//   padding-inline: 0.5rem;
//   width: 100%;
  
//   &::placeholder {
//     color: var(--text-color);
//     opacity: 0.5;
//   }

//   &:active, 
//   &:focus {
//     border: 1px solid var(--text-color);
//     outline: 1px solid var(--text-color);
//   }
// }

// @mixin shootImg {
//   aspect-ratio: 1 / 1;
//   max-width: 100%;
//   object-fit: cover; 
//   object-position: center;
//   width: 100%;
// }

// @mixin shootDetailsImg {
//   @include shootImg;
//   aspect-ratio: 4 / 5;
// }

// @mixin selectChooser {

//   &__inner {
//     display: flex;
//     flex-direction: column;
//     gap: 0.5rem;

//     @media(min-width: $tablet) {
//       flex-direction: row;
//     }
//   }

//   &__select {
//     background: var(--background-color);
//     border: 1px solid var(--text-color);
//     border-radius: var(--borderRadius);
//     color: var(--text-color);
//     height: 3rem;
//     font-size: 1rem;
//     padding: 0.25rem;
//     text-align: center;
//     width: 100%;

//     &.userDisabled {
//       pointer-events: none;
//     }

//     &:focus, 
//     &:active {
//       outline: none;
//     }
//   } 

//   &__button-container {
//     display: flex;
//     justify-content: center;
//     gap: 1rem;
    
//     @media(min-width: $tablet) {
//       flex-direction: row;
//       gap: 0.5rem;
//     }
//   }
  
//   &__button {
//     align-items: center;
//     border: 1px solid var(--text-color);
//     border-radius: 50%;
//     display: flex;
//     height: 2.25rem;
//     justify-content: center;
//     padding: 0.25rem;
//     width: 2.25rem;
    
//     &--add {
//       height: 35px;
//       width: 35px;
//     }
    
//     &--add-stroke {
//       stroke: var(--text-color);
//     }
//   }
  
//   &__button {
  
//     &--remove-icon {
//       stroke: var(--text-color);
//     }
//   }
// }
