@use "./variables" as vars;

.app {
	// fonts
	--body-font: "Arial";
	--heading-font: "Tahoma";

	// letter spacing
	--letter-spacing-general: 0.6px;
	--letter-spacing-relaxed: 1px;
	--letter-spacing-headline: 3.5px;
	--letter-spacing-medium: 1.5px;
	--letter-spacing-large: 1.75px;

	// line height
	--line-height-general: 1.45;
	--line-height-medium: 1.75;

	// border & box shadow
	--border-radius: 4px;
	--text-box-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	--text-shadow-bright: 5px 5px 6px rgba(0, 0, 0, 0.7);

	// Timing Variables
	--lightBox-transition-interval: 450ms;
	--placeholder-transition: all 0.75s ease-in-out;

	// font sizes
	--font-size-fine: 1rem;
	--font-size-xs: 1.25rem;
	--font-size-smaller: 1.125rem;
	--font-size-small: 1.5rem;
	--font-size-general: 1.5rem;
	--headline-medium: 2rem;
	--headline-small: 1.5rem;
	--headline-medium-small: 1.75rem;
	--headline-medium-large: 2.25rem;
	--headline-large: 2.5rem;
	--headline-xl: 2.75rem;
	--headline-xxl: 4rem;
	--headline-xxxl: 4.25rem;

	// button & heading sizes
	--button-text-small: 1.25rem;
	--button-text-medium: 1.5rem;
	--button-link-small: 1rem;
	--button-link-medium: 1rem;
	--heading-text-small: 1.5rem;
	--sub-heading-text-small: 1.9rem;

	// error styling
	--error-color: #ff0000;

	// overlay colors
	--modalOverlayBg: rgba(0, 0, 0, 0.5);
	--overlay: rgba(0, 0, 0, 0.125);
	--overlay-dark: rgba(0, 0, 0, 0.5) 0;

	// Light Mode Custom Variables
	&[data-color-mode="light"] {
		// Colors
		--accent-color: #bcb066;
		--background-color: #f8f8f8;
		--box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
		--box-shadow-input: inset 0 1px 3px rgba(0, 0, 0, 0.1);
		--navFooter-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		--neutral-bg-1: #e6eae7;
		--neutral-bg-2: #eaedeb;
		--placeholder-color: #c7c7c7;

		// Text Colors
		--text-color: #21343c;
		--text-color-bright: #f8f8f8;

		// Overlay Colors
		--gradient-overlay: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.28),
			rgba(255, 255, 255, 0.2)
		);
		--filter-box-shadow: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.8));

		// UI
		--background-nav-footer: #152f39;
		--link-button-color: blue;

		// colorModeToggler
		--toggle-ball: #f2f2f2;
		--toggle-sky: #052463;
	}

	// Dark Mode Custom Variables
	&[data-color-mode="dark"] {
		// Colors
		--accent-color: #7e818d;
		--background-color: #05071d;
		--box-shadow: 0 4px 8px rgba(50, 50, 50, 0.2);
		--box-shadow-input: inset 0 2px 4px rgba(100, 100, 100, 0.2);
		--navFooter-box-shadow: 0 4px 8px rgba(50, 50, 50, 0.125);
		--neutral-bg-1: #242534;
		--neutral-bg-2: #28293a;
		--neutral-bg-2: #28293a;
		--placeholder-color: #919191;

		// Text Colors
		--text-color: #e0e0e0;
		--text-color-bright: #f0f0f0;

		// Overlay Colors
		--gradient-overlay: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.28),
			rgba(110, 110, 110, 0.275)
		);
		--filter-box-shadow: drop-shadow(0 4px 8px rgba(50, 50, 50, 0.4));

		// UI
		--background-nav-footer: #05071d;
		--link-button-color: #f8f8f8;

		// colorModeToggler
		--toggle-ball: #f2f2f2;
		--toggle-sky: #4480f8;
	}
}

@mixin appLayout {
	align-items: center;
	box-shadow: var(--box-shadow);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	width: 100%;
}

@mixin page {
	max-width: vars.$ultraWide;
	min-height: calc(100vh - vars.$navHeight);
	width: 100%;
}

@mixin inner {
	align-items: center;
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	max-width: vars.$ultraWide;
	min-height: calc((100vh - vars.$navHeight) + 1px);
	width: 100%;
}

@mixin modalInitialStyles {
	align-items: center;
	border-radius: 50%;
	display: flex;
	height: 5%;
	justify-content: center;
	left: 50%;
	opacity: 0;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 5%;
}

@mixin modalOpenStyles {
	border-radius: 0;
	height: 100%;
	opacity: 1;
	width: 100%;
}

@mixin smoothOpeningTransition {
	transition: border-radius 1000ms ease-in-out, height 300ms ease-in-out,
		opacity 300ms ease-in-out, width 300ms ease-in-out;
}

@mixin smoothClosingTransition {
	transition: border-radius 250ms ease-in-out, height 300ms ease-in-out,
		opacity 200ms ease-in-out, width 300ms ease-in-out;
}

@mixin heroImg {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

@mixin heroImgTop {
	opacity: 1;
	transition: all 1s ease-in-out;
	z-index: 1;
}

@mixin navLink {
	font-family: var(--heading-font);
	font-weight: 500;
	letter-spacing: 4px;
	position: relative;
}

@mixin secondaryPageHeading {
	font-size: var(--font-size-xs);
	height: 1.25rem;
	letter-spacing: var(--letter-spacing-general);
	margin-bottom: 1rem;
	position: relative;
	text-align: center;
	z-index: 1;

	@media (min-width: vars.$smallTablet) {
		font-size: var(--headline-medium-small);
		height: 1.75rem;
		margin-bottom: 1.5rem;

		@media (min-width: vars.$tablet) {
			font-size: var(--headline-medium);
			height: 2rem;
			margin-bottom: 2rem;
		}

		@media (min-width: vars.$largeTablet) {
			font-size: var(--headline-medium-large);
			height: 2.25rem;
			margin-bottom: 2rem;
		}

		@media (min-width: vars.$desktop) {
			font-size: var(--headline-large);
			height: 2.5rem;
			margin-bottom: 2.5rem;
		}
	}
}

@mixin navLinkActive {
	bottom: -0.6rem;
	background: var(--accent-color);
	content: "";
	height: 2.5px;
	left: 0;
	position: absolute;
	right: 0;
}

@mixin afterAccent {
	background: var(--accent-color);
	bottom: -0.6rem;
	content: "";
	height: 2.5px;
	left: 0;
	position: absolute;
	right: 0;
}

@mixin headingGeneral {
	font-family: var(--heading-font);
	font-size: var(--font-size-xs);
	font-weight: 600;
	letter-spacing: var(--letter-spacing-large);
	margin-bottom: 1rem;
}

@mixin lead {
	font-size: var(--font-size-general);
	letter-spacing: var(--letter-spacing-general);
	line-height: var(--line-height-general);
	padding-inline: 2rem;
}

@mixin generalOpacityTransition {
	transition: opacity 0.25s ease-in-out;
}

@mixin formFullWidth {
	align-items: center;
	background: var(--neutral-bg-1);
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-inline: auto;
	padding-inline: 2rem;
	position: relative;
	text-align: center;
	z-index: 1;
}

@mixin formFullWidthInner {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: vars.$tablet;
	min-width: 100%;
	padding-block: 3rem;

	@media (min-width: vars.$smallTablet) {
		padding-inline: 2rem;
	}
}

@mixin formFullWidthInput {
	background: none;
	border: none;
	border-bottom: 2px solid var(--text-color);
	color: var(--text-color);
	font-family: var(--body-font);
	font-size: var(--font-size-xs);
	line-height: var(--line-height-general);
	margin-bottom: 1.5rem;
	outline: none;
	padding-block: 0.75rem;
	padding-inline: 0.75rem;
	position: relative;
	resize: none;
	width: 100%;

	&::placeholder {
		color: var(--text-color);
		opacity: 0.5;
	}

	&:-webkit-autofill {
		-webkit-box-shadow: none !important;
		background-color: none !important;
		box-shadow: none !important;
		color: inherit;
		transition: background-color 5000s ease-in-out 0s;
	}

	&:-webkit-autofill::first-line {
		color: var(--text-color) !important;
	}

	&:active,
	&:focus {
		color: inherit;
	}

	&:focus {
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
		outline: none;
	}
}

@mixin adminInput {
	background: var(--neutralBG);
	border-radius: var(--border-radius);
	border: none;
	letter-spacing: var(--letter-spacing-general);
	@include formFullWidthInput;
}

@mixin form {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-inline: auto;
	max-width: vars.$largeTablet;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;

	@media (min-height: 600px) {
		overflow-y: hidden;
	}
}

@mixin hiddenLabel {
	border: 0;
	clip-path: inset(50%);
	clip: rect(0, 0, 0, 0); // Fallback for older browsers
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@mixin formTall {
	@include form;

	@media (min-height: 750px) {
		overflow-y: hidden;
	}
}

@mixin formErrorMessage {
	color: var(--error-color);
	margin-top: -1.25rem;
}

@mixin formHeading {
	display: inline-block;
	font-size: var(--font-size-smaller);
	margin-bottom: 3rem;
	position: relative;
	@include headingGeneral;

	@media (min-width: vars.$smallTablet) {
		font-size: var(--font-size-small);
	}

	@media (min-width: vars.$tablet) {
		font-size: var(--headline-medium);
	}
}

@mixin placeholderContent {
	background: var(--placeholder-color);
	border-radius: var(--border-radius);
}

@mixin subHeadingGeneral {
	font-size: var(--font-size-small);
	letter-spacing: var(--letter-spacing-general);

	@media (min-width: vars.$smallTablet) {
		font-size: var(--font-size-small);
	}

	@media (min-width: vars.$tablet) {
		font-size: var(--headline-medium);
	}
}

@mixin formContent {
	box-shadow: var(--box-shadow);
	max-width: vars.$largeTablet;
	width: 90%;

	@media (min-width: vars.$desktop) {
		width: 100%;
	}
}

@mixin linkButton {
	background: none;
	border: none;
	color: var(--link-button-color);
	cursor: pointer;
	font-family: inherit;
	font-size: 5rem;
	font-size: var(--button-link-small);
	letter-spacing: var(--letter-spacing-general);
	line-height: var(--line-height-general);
	outline: none;
	margin-inline-end: auto;
	max-width: 100%;
	text-decoration: underline;

	@media (min-width: vars.$smallTablet) {
		font-size: var(--button-link-medium);
	}
}

@mixin hoverClickGrow {
	transform: scale(1.025);
	transition: all 0.25s ease-in-out;
}

@mixin hoverClickGrowIcon {
	transform: scale(1.15);
	@include hoverClickGrow;
}

@mixin hoverClickShrink {
	transform: scale(0.99);
	transition: all 0.25s ease-in;
}

@mixin wallpaperContainer {
	background: var(--neutral-bg-2);
	display: flex;
	justify-content: center;
	min-height: calc(100vh - vars.$navHeight);
	padding-bottom: 2rem;
	padding-top: calc(vars.$navHeight + 2rem);
	position: relative;
	width: 100%;
}

@mixin blogPost {
	height: 100%;
	margin-bottom: 1.5rem;
	margin-inline: auto;
	max-width: vars.$tablet;
	width: 100%;

	@media (min-width: vars.$smallTablet) {
		margin-bottom: 2rem;
	}

	@media (min-width: vars.$tablet) {
		margin-bottom: 2.5rem;
		margin-bottom: 3rem;
	}
}

@mixin portfolioContainer {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	max-width: vars.$largeTablet;
	width: 100%;

	@media (min-width: vars.$tablet) {
		grid-template-columns: 1fr 1fr;
	}
}

@mixin projectCard {
	aspect-ratio: 16/9;
	width: 100%;
}

@mixin projectImg {
	aspect-ratio: 16/9;
	max-width: 100%;
	object-fit: cover;
	object-position: center center;
	width: 100%;
}

@mixin blogPostVideo {
	display: flex;
	flex-direction: column;
	max-width: vars.$largeTablet;
	width: 100%;
}

@mixin ellipsisOneLine {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin ellipsisMultiLine {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin lightBoxTransition {
	transition: margin var(--lightBox-transition-interval) ease-in-out;
}

@mixin button {
	align-items: center;
	background: none;
	border: 2px solid var(--text-color);
	color: var(--text-color);
	cursor: pointer;
	display: inline-flex;
	font-size: var(--button-text-small);
	font-weight: bold;
	gap: 0.75rem;
	font-weight: 200;
	justify-content: center;
	letter-spacing: 3px;
	padding: 1rem 1.25rem;
	transition: all 250 ease-in-out;

	&:hover,
	&:focus {
		font-weight: 500;
		outline: none;
		@include hoverClickGrow;
	}

	&:active {
		@include hoverClickShrink;
	}

	&:disabled {
		opacity: 0.8;

		&:hover {
			transform: scale(1);
			user-select: none;
			cursor: default;
		}
	}
}

@mixin buttonDisabled {
	cursor: not-allowed;
	opacity: 0.5;
	user-select: none;

	&:hover,
	&:focus {
		transform: scale(1);
	}
}

@mixin adminButton {
	background: none;
	border: 1px solid var(--text-color);
	border-radius: var(--border-radius);
	color: var(--text-color);
	cursor: pointer;
	display: block;
	font-size: var(--font-size-fine);
	font-weight: 500;
	letter-spacing: 2px;
	margin-inline-start: 2rem;
	padding-block: 0.5rem;
	padding-inline: 1rem;

	&:hover,
	&:focus {
		outline: none;
		@include hoverClickGrow;
	}

	&:active {
		@include hoverClickShrink;
	}

	&:disabled {
		opacity: 0.8;

		&:hover {
			cursor: default;
			transform: scale(1);
			user-select: none;
		}
	}
}

@mixin servicesBg {
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 0;
}
