@import './_variables.scss';

// font parings
// light mode color palet
// dark mode color palet

// #7FA6BE
// #D6DADD
// #162328
// #1A7697
// #20484E
// #4F6C77
// #B3D4DC
// #BC6C66


// 1. Primary Color:
// #1A7697 (Deep Blue)
// Use this for buttons, links, and key interactive elements.

// 2. Secondary Color:
// #BC6C66 (Muted Red)
// This can be used for highlights, secondary buttons, or accent elements that need emphasis.

// 3. Neutral Colors:
// #D6DADD (Light Gray)

// Use this for backgrounds, card backgrounds, or light text.
// #162328 (Dark Gray)
// Use this for main text, headers, or dark backgrounds.


// 4. Accent Colors:
// #7FA6BE (Soft Blue)
// Use this sparingly for elements like icons, borders, or to provide subtle emphasis.

// #B3D4DC (Pale Blue)
// Great for hover states, subtle backgrounds, or to add some lightness to your design.


// 5. Background Color:
// #4F6C77 (Muted Blue-Gray)
// Use this as the main background color for your app or sections within your app.


.appLayout {
  // general styling variables
  --borderRadius: 8px;

  --accent-color: #BC6C66;
  --accent-color: #ac645e;
  --accent-color: #ac7c5e;
  --accent-color: #ac955e;
  --accent-color: #c3be68;
  --nav-link-active: #BC6C66;
  --nav-link-active: #bc9a66;
  --nav-link-active: #bcb066;

  // colors
  // --modalOverlayBg: rgba(0, 0, 0, 0.5);
  
  // light mode custom variables
  &[data-color-mode='light'] {
    // --text-color: #333333;
    --text-color: red;
    --text-color: #162328;

    --gradient-overlay: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.125));
    --text-shadow-bright: 3px 3px 6px rgba(0, 0, 0, 0.7);
    // --text-color: #fff;
    // --text-color: #f6f6f6;
    // --text-color: #f7f7f7;
    // --text-color: #f8f8f8;
    // --text-color: #f8f8f8;
    // --text-color-header:#f8f8f8;
    --text-color-bright:#f8f8f8;

    --overlay: rgba(0, 0, 0, 0.125);

    --hover-emphasis: #B3D4DC;
    
    // --navAndFooterBG: #F3F3F3;
    --background-nav-footer: #4F6C77;
    --background-nav-footer: #132e38;
    --background-nav-footer: #152f39;
    --background-color: #D6DADD;
    // --button-color: var(--background-color);
    --button-color: #1A7697;
    // --button-background: #888676;
    --button-link: #1A7697;
    --link: #1A7697;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    // --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    // --nav-boxShadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    // --footer-boxShadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
    // --toggle-sky: #47478d;
    // --toggle-ball: #F3F3F3;
    // --error-color: #FF0000;
    // --hover-color: #747171;
    // --placeholder-color: #adafaf;
  }
  
  // dark mode custom variables
  &[data-color-mode='dark'] {
    // --text-color: #F3F3F3;
    --text-color: green;

    --overlay: rgba(0, 0, 0, 0.25);
    
    
    // --navAndFooterBG: #181717;
    // --background-color: #4b4a4a;
    // --button-color: var(--text-color);
    // --button-background: #888676;
    // --button-link: #c2c0ac;
    // --box-shadow: 0 4px 8px rgba(37, 31, 31, 0.6);
    // --nav-boxShadow: 0 4px 8px rgba(37, 31, 31, 0.6);
    // --footer-boxShadow: 0 -4px 8px rgba(37, 31, 31, 0.6);
    // --toggle-sky: #5da8f8;
    // --toggle-ball: #F3F3F3;
    // --error-color: #FF0000;
    // --hover-color: #CCCCCC;
    // --placeholder-color: #929296;
  }
}

@mixin appLayout {
  align-items: center;
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  // max-width: 1920px;
  // min-height: calc(100vh + 1px);
  // min-height: 150vh;
  // padding-block: 4rem;
  // padding-top: 0rem;
  width: 100%;

  @media(min-width: $tablet) {
    // margin-top: 4rem;
  }
  
  @media(min-width: 768px) {
    // margin-top: 0;
  }
}

@mixin page {
  max-width: $ultraWide;
  min-height: 100vh;
  width: 100%;
//   align-items: center;
//   background: var(--background-color);
//   box-shadow: var(--box-shadow);
//   color: var(--text-color);
//   display: flex;
//   flex-direction: column;
//   margin-inline: auto;
//   max-width: 1920px;
//   min-height: calc(100vh - 10rem + 1px);
//   padding-block: 4rem;
//   padding-top: 0rem;
//   width: 100%;

  // @media(min-width: $tablet) {
  //   min-height: calc(100vh - ($navHeight + $footerHeight));
  // }
  
//   @media(min-width: 768px) {
//     margin-top: 0;
//   }
}

@mixin inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  margin-top: $navHeight;
  min-height: calc(100vh + 1px);
  width: 100%;
  
  @media(min-width: $tablet) {
    // padding-top: 2rem;
    // margin-top: 4rem;
  }
  
  @media(min-width: 768px) {
    // margin-top: 0;
  }
}

@mixin heroImg {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

@mixin heroImgTop {
  opacity: 1;
  transition: all 1s ease-in-out;
  z-index: 1;
}

@mixin hoverClickGrow {
  transform: scale(1.025);
  transition: all 0.25s ease-in-out;
}

@mixin hoverClickGrowIcon {
  @include hoverClickGrow;
  transform: scale(1.15);
}

@mixin hoverClickShrink {
  transform: scale(0.99);
  transition: all 0.25s ease-in;
}

@mixin button {
  align-items: center;
  // background: var(--button-background);
  // background: var(--button-background);
  // background: var(--button-background);
  border: 2px solid var(--text-color);
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  padding: 0.125rem 1.25rem;
  // transition: background-color 0.3s ease;
  transition: all 250 ease-in-out;

  &:hover, 
  &:focus {
    // background: var(--button-color);
    // color: var(--button-background);
    // outline: 2px solid var(--button-background);
    // transition: all 0.3s ease;
    @include hoverClickGrow;
  }

  &:active {
    @include hoverClickShrink;
  }
}


// @mixin buttonRounded {
//   @include button;
//   border-radius: 50px;
// }

// @mixin input {
//   border: 1px solid var(--text-color);
//   border-radius: var(--borderRadius);
//   background: var(--background-color);
//   color: var(--text-color);
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: 1.125rem;
//   padding-block: 0.5rem;
//   padding-inline: 0.5rem;
//   width: 100%;
  
//   &::placeholder {
//     color: var(--text-color);
//     opacity: 0.5;
//   }

//   &:active, 
//   &:focus {
//     border: 1px solid var(--text-color);
//     outline: 1px solid var(--text-color);
//   }
// }

// @mixin error {
//   color: var(--error-color);
//   bottom: 0.25rem;
//   display: block;
//   font-size: 0.8rem;
//   margin-inline-start: 0.5rem;
//   position: absolute;
// }

// @mixin shootImg {
//   aspect-ratio: 1 / 1;
//   max-width: 100%;
//   object-fit: cover; 
//   object-position: center;
//   width: 100%;
// }

// @mixin shootDetailsImg {
//   @include shootImg;
//   aspect-ratio: 4 / 5;
// }

// @mixin selectChooser {

//   &__inner {
//     display: flex;
//     flex-direction: column;
//     gap: 0.5rem;

//     @media(min-width: $tablet) {
//       flex-direction: row;
//     }
//   }

//   &__select {
//     background: var(--background-color);
//     border: 1px solid var(--text-color);
//     border-radius: var(--borderRadius);
//     color: var(--text-color);
//     height: 3rem;
//     font-size: 1rem;
//     padding: 0.25rem;
//     text-align: center;
//     width: 100%;

//     &.userDisabled {
//       pointer-events: none;
//     }

//     &:focus, 
//     &:active {
//       outline: none;
//     }
//   }

//   &__button-container {
//     display: flex;
//     justify-content: center;
//     gap: 1rem;
    
//     @media(min-width: $tablet) {
//       flex-direction: row;
//       gap: 0.5rem;
//     }
//   }
  
//   &__button {
//     align-items: center;
//     border: 1px solid var(--text-color);
//     border-radius: 50%;
//     display: flex;
//     height: 2.25rem;
//     justify-content: center;
//     padding: 0.25rem;
//     width: 2.25rem;
    
//     &--add {
//       height: 35px;
//       width: 35px;
//     }
    
//     &--add-stroke {
//       stroke: var(--text-color);
//     }
//   }
  
//   &__button {
  
//     &--remove-icon {
//       stroke: var(--text-color);
//     }
//   }
// }

// @mixin navLink {
//   color: var(--text-color);
//   cursor: pointer;
//   display: flex;
//   font-size: 1.25rem;
//   font-weight: 600;
//   justify-content: center;
//   letter-spacing: 3px;
// }