// heights
$navHeight: 4rem !default;
$footerHeight: 4rem !default;
$footerHeightMobile: 5rem !default;

// custom variables for sizing
$smallTablet: 480px !default;
$tablet: 768px !default;
$largeTablet: 1080px !default;
$desktop: 1280px !default;
$ultraWide: 1920px !default;
