@import "../../partials//mixins";
@import "../../partials/variables";

.projects {
	& {
		@include page;
		min-height: calc(100vh);
	}

	&__inner {
		@include wallpaperContainer;
	}

	&__content {
		max-width: $ultraWide;
		width: 100%;
		z-index: 1;
	}

	&__heading {
		@include secondaryPageHeading;
	}
}
