@import "../../partials//mixins";
@import "../../partials/variables";

.projects {
  @include page;

  &__inner {
    @include wallpaperContainer;
}

&__heading {
  font-size: 3rem;
  position: relative;
  z-index: 1;
}
}