@import "../../partials/mixins";
@import "../../partials/variables";

.projects {
  @include page;

  &__inner {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

&__heading {
  font-size: 3rem;
  margin-block: 50vh;
  position: relative;
  z-index: 1;
}
}