@import "../../partials/mixins.scss";
@import "../../partials/variables.scss";

.projectDatePicker {
	& {
		margin-top: 2rem;
		position: relative;
		width: 8.75rem;
		z-index: 2;
	}

	&__selector {
		border: 1px solid var(--text-color);
		border-radius: var(--border-radius);
		background: var(--neutralBG);
		background: none;
		color: var(--text-color);
		cursor: pointer;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.125rem;
		padding-block: 0.5rem;
		padding-inline: 0.5rem;
		width: 100%;

		&::placeholder {
			color: var(--text-color);
			opacity: 0.5;
		}

		&:-webkit-autofill {
			-webkit-box-shadow: none !important;
			background-color: none !important;
			box-shadow: none !important;
			color: inherit;
			transition: background-color 5000s ease-in-out 0s;
		}

		&:-webkit-autofill::first-line {
			color: var(--text-color) !important;
		}

		&:active,
		&:focus {
			border: 1px solid var(--text-color);
			color: inherit;
			outline: 1px solid var(--text-color);
		}
	}

	&:focus,
	&:active {
		outline: 1px solid var(--text-color);
	}

	&__icon-container {
		position: absolute;
		right: 0.8rem;
		top: 0.45rem;
	}
}
