@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.portfolioCard {
	& {
		box-shadow: var(--box-shadow);
		cursor: pointer;
		overflow: hidden;
		position: relative;
		@include mx.projectCard;

		&.draggable {
			animation: shake 0.45s infinite;
			cursor: grab;
		}

		&:hover {
			opacity: 0.8;
			@include mx.hoverClickGrow;
		}
	}

	&__placeholder {
		position: absolute;
		width: 100%;
		z-index: 2;

		&.fade {
			opacity: 0;
			@include mx.smoothClosingTransition;
		}

		&.hide {
			display: none;
		}
	}

	&__button {
		background-color: var(--background-color);
		color: var(--text-color);
		border: none;
		border-radius: 50%;
		box-shadow: var(--box-shadow);
		cursor: pointer;
		height: 2.25rem;
		opacity: 0;
		outline: none;
		position: absolute;
		top: 0.75rem;
		width: 2.25rem;
		@include mx.generalOpacityTransition;

		@media (min-width: vars.$smallTablet) {
			height: 2.75rem;
			top: 1rem;
			width: 2.75rem;
		}

		@media (min-width: vars.$tablet) {
			height: 2.5rem;
			top: 0.75rem;
			width: 2.5rem;
		}

		@media (min-width: vars.$desktop) {
			height: 3rem;
			top: 1rem;
			width: 3rem;
		}

		&--delete {
			left: 1rem;

			@media (min-width: vars.$tablet) {
				left: 0.75rem;
			}

			@media (min-width: vars.$desktop) {
				left: 1rem;
			}
		}

		&--edit {
			right: 1rem;

			@media (min-width: vars.$tablet) {
				right: 0.75rem;
			}

			@media (min-width: vars.$desktop) {
				right: 1rem;
			}
		}

		&.show {
			align-items: center;
			display: flex;
			justify-content: center;
			opacity: 1;
			@include mx.generalOpacityTransition;
		}
	}

	&__button-icon {
		height: 1.5rem;
		width: 1.5rem;

		@media (min-width: vars.$smallTablet) {
			height: 1.75rem;
			width: 1.75rem;
		}

		@media (min-width: vars.$tablet) {
			height: 1.5rem;
			width: 1.5rem;
		}

		@media (min-width: vars.$desktop) {
			height: 1.75rem;
			width: 1.75rem;
		}
	}

	&__img {
		@include mx.projectImg;
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translate(0, 0) rotate(0);
		scale: 1;
	}
	25% {
		transform: translate(-0.1px, -0.1px) rotate(-0.5deg);
		scale: 0.999;
	}
	50% {
		transform: translate(0.1px, 0.1px) rotate(0.5deg);
		scale: 1;
	}
	75% {
		transform: translate(-0.1px, -0.1px) rotate(-0.5deg);
		scale: 0.999;
	}
}
