@import "../../partials/mixins";
@import "../../partials/variables";

.appLayout {
  border: 2px solid #ff0000;
  @include appLayout;

  h1 {
    color: var(--text-color);
  }

  &__inner {
    border: 2px solid forestgreen;
    @include inner;
  }
}