@import "../../partials/mixins";
@import "../../partials/variables";

.appLayout {
  @include appLayout;

  &__inner {
    @include inner;
  }

  &__sideNav-children {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    justify-content: end;
    padding-top: 1rem;
    width: 100%;
  }
  
  &__logout--nav {
    display: none;
  
    @media(min-width: $tablet) {
      cursor: pointer;
      display: block;
    }
  }
  
  &__logout--sideNav {
    cursor: pointer;
  }
}