@use "./partials/variables.scss" as vars;
@use "./partials/mixins.scss" as mx;

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: var(--body-font);
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--neutralBG);
	color: var(--text-color);
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--text-color);
	text-decoration: none;
}
ul {
	list-style-type: none;
}

input {
	// gooogle chrome auto fill styling override
	&:-webkit-autofill {
		background-color: none !important;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		transition: background-color 5000s ease-in-out 0s;
	}
}

img {
	display: block;
}

.app {
	& {
		@include mx.appLayout;
	}

	&__backgroundDiv {
		background: var(--background-color);
		height: 100vh;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 0;
	}

	&__inner {
		box-shadow: var(--box-shadow);
		@include mx.inner;
	}

	&__sideNav-children {
		align-items: center;
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 2rem;
		justify-content: end;
		padding-top: 1rem;
		width: 100%;
	}

	&__logout--nav {
		display: none;

		@media (min-width: vars.$tablet) {
			@include mx.adminButton;
			border: 1px solid var(--text-color-bright);
			color: var(--text-color-bright);
		}
	}

	&__logout--sideNav {
		margin-inline: auto;
		@include mx.adminButton;
	}
}

.loading {
	& {
		left: 50%;
		opacity: 1;
		position: fixed;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: opacity 0.25s ease;
		z-index: 1;

		&.isLoading {
			z-index: 5;
		}

		&::after {
			content: "";
			animation: spin 0.5s infinite linear;
			border: 5px solid var(--text-color);
			border-radius: 50%;
			border-top-color: transparent;
			display: block;
			height: 60px;
			width: 60px;
		}

		&:not(.isLoading) {
			opacity: 0;
		}
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
