@import "../../../partials/mixins";
@import "../../../partials/variables";

.footer {
  margin-top: auto;
  width: 100%;
  // border: 2px dashed #333;
  background: yellow;
  z-index: 0;
  
  &__content {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid green;
    max-width: $ultraWide;
    margin-inline: auto;

    @media(min-width: $tablet) {
      flex-direction: row;
    }
  }
  
  &__socials  {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block: 1rem;
    width: 100%;
    
    @media(min-width: 768px) {
      margin-inline-start: auto;
    }
  }

  &__social {
    fill: var(--text-color);
  }
  
  &__copyright  {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    
    @media(min-width: 768px) {
      // border: 2px solid blue;
      width: 100%;
    }
  }
}