@import "../../../partials/mixins";
@import "../../../partials/variables";

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 0.75rem;
  width: 100%;
  border: 2px dashed #333;

  
  @media(min-width: 768px) {
    flex-direction: row;
    gap: 2rem;
  }
  
  &__socials  {
    display: flex;
    justify-content: center;
    // margin-inline: auto;
    padding-block: 1rem;
    border: 2px solid red;
    width: 100%;
    
    @media(min-width: 768px) {
      // margin-inline-end: max(2rem, 15%);
      margin-inline-start: auto;
    }
  }
  
  &__copyright  {
    // margin-block: auto;
    // text-wrap: nowrap;
    text-align: center;
    
    @media(min-width: 768px) {
      border: 2px solid blue;
      width: 100%;
    }
  }
}