@import "../../partials/mixins";
@import "../../partials/variables";

.nav {
	& {
		align-items: center;
		background: var(--background-nav-footer);
		box-shadow: var(--navBoxShadow);
		display: flex;
		height: $navHeight;
		position: fixed;
		transition: all 500ms ease-in-out;
		top: 0;
		width: 100%;
		z-index: 2;

		&.hide {
			margin-top: -5rem;
		}
	}

	&__content {
		align-items: center;
		display: flex;
		height: 100%;
		margin-inline: auto;
		max-width: $ultraWide;
		padding-inline: 2rem;
		width: 100%;
	}

	&__logo {
		margin-inline: auto;

		// remove after adding svg logo
		& a {
			color: var(--text-color-bright);
		}

		@media (min-width: $tablet) {
			margin-inline-end: auto;
			margin-inline-start: 0;
			text-align: center;
			width: 5rem;
		}
	}

	&__links {
		display: none;

		@media (min-width: $tablet) {
			align-items: center;
			display: flex;
			gap: 2rem;
			height: 100%;
			margin-inline-start: auto;
		}
	}

	&__link {
		@include navLink;

		&:hover {
			&::after {
				@include navLinkActive;
			}
		}
	}

	&__link.active {
		position: relative;

		&::after {
			@include afterAccent;
		}
	}

	&__colorModeToggle {
		display: none;

		@media (min-width: $tablet) {
			display: block;
			margin-inline-start: 1rem;
		}
	}

	&__open-button {
		color: var(--text-color);
		// remove after adding open icon
		color: var(--text-color-bright);
		cursor: pointer;
		position: absolute;
		right: 2rem;
		top: 1rem;
		z-index: 3;

		@media (min-width: $tablet) {
			display: none;
		}
	}

	&__logout {
		display: none;

		@media (min-width: $tablet) {
			display: block;
		}
	}
}
